<footer class="footer">
    <div class="left">
        &copy; 2024 Jestly Morales. Modified from original work by R. Charlox.
    </div>
    <div class="right">
        <div class="social">
            <a href="https://www.facebook.com/jhest.lhey" target="_blank">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </div>
        <div class="social">
            <a href="https://www.instagram.com/jestly_18/?igsh=anJvdzR3bzU3d2Q3" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
       <div class="social">
            <a href="https://twitter.com/your-username" target="_blank">
                <i class="fa-brands fa-twitter"></i> </a>
        </div>
        <div class="social">
            <a href="https://github.com/jestly18" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
    </div>
</footer>
